{
  "extends": "vtex-react/io",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/naming-convention": "warn" 
  }
}