.boxContainer {}

.profileFormBoxContainer {}

.passwordBoxContainer {}

.passwordFormBoxContainer {}

.newsletterBoxContainer {}

.profileBoxContainer {}

.boxContainerBody {}

.boxContainerFooter {}

.boxContainerButton {}

.nameContainer {}

.emailContainer {}

.genderContainer {}

.phoneNumberContainer {}

.firstNameSubContainer {}

.lastNameSubContainer {}

.emailSubContainer {}

.documentsSubContainer {}

.genderSubContainer {}

.dateOfBirthSubContainer {}

.phoneNumberSubContainer {}

.newsletterContainerTitle {}

.newsletterContainerMessage {}

.dataEntryLabel {}

.dataEntryChildren {}

.corporateName {}

.tradeName {}

.corporateDocument {}

.businessPhoneContainer {}

.businessPhoneSubContainer {}

.stateRegistration {}

.idoCodeContainer {}

.idoCodeSubContainer {}

.deleteButton {}